@import "/node_modules/normalize.css/normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Kameron:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

button {
    border: none;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.14rem;
}

h2 {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.12rem;
}

h3 {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.08rem;
}

h4 {
    font-family: 'Dela Gothic One', sans-serif;
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.065rem;

}

.body1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    line-height: 140%;
    font-weight: 600;
    letter-spacing: -0.045rem;
}

.body2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 140%;
    font-weight: 600;
    letter-spacing: -0.04rem;
}

.body3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    line-height: 140%;
    font-weight: 600;
    letter-spacing: -0.035rem;
}

.label {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    line-height: 140%;
    font-weight: 600;
    letter-spacing: -0.03rem;
}

.link1 {
    //16px
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    text-decoration: none;
}

.link2 {
    //14px
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-decoration: none;
}

.button1 {
    //18px
    font-family: 'Montserrat', sans-serif;
    font-size: 1.125rem;
    line-height: 1.575rem;
    letter-spacing: -0.045rem;
    font-weight: 700;
}

.button2 {
    //16px
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 700;
    letter-spacing: -0.04rem;
}

.container {
    margin: 0 auto;
    max-width: 73.75rem;
}

// Стили выше это шрифты
// Далее стили ниже

.buttonLight {
    border-radius: 6.25rem;
    background: var(--primaty-cyan-light, #C3DCE3);
    color: #2B788B;

    display: flex;
    padding: 0.875rem 1.375rem;
    justify-content: center;
    align-items: center;
    gap: 1.1875rem;

    &:hover {
        cursor: pointer;
        transition: background-color 0.6s, color 0.6s;

        color: white;
        background-color: #2B788B;
    }
}

.greyDark {
    color: var(--primaty-grey-dark, #757575);
}

.description {
    max-width: 85%;
}